$padding-mobile: 1.5rem;
$padding-desktop: 2.5rem;
$border-radius: 2rem;

// Colors
$clr-white-hsl: var(--clr-white-hsl);
$clr-pale-blue-hsl: var(--clr-pale-blue-hsl);
$clr-light-lavender-hsl: var(--clr-light-lavender-hsl);
$clr-dark-gray-blue-hsl: var(--clr-dark-gray-blue-hsl);
$clr-light-red-hsl: var(--clr-light-red-hsl);
$clr-orangey-yellow-hsl: var(--clr-orangey-yellow-hsl);
$clr-green-teal-hsl: var(--clr-green-teal-hsl);
$clr-cobalt-blue-hsl: var(--clr-cobalt-blue-hsl);

// Gradients
$gradient-light-blue: var(--gradient-light-blue);
$gradient-blue: var(--gradient-blue);

// Font-families
$ff-hanken-grotesk: var(--ff-hanken-grotesk);